{{ define "main" }}
  <section class="section-sm pb-0">
    <div class="container">
      <div
        class="row border-border dark:border-darkmode-border justify-center border-b pb-14">
        <!--<div class="md:col-6 lg:col-6 mb-12">-->
        {{ partial "components/author-card.html" . }}
        <!--</div>-->
        <div class="row pt-8">
        <div class="col-12">
          {{ if .Params.textB }}
            <p class="mb-4">{{ .Params.textB }}</p>
          {{ end }}
          
          {{ if .Params.textA }}
            <p class="mb-4">{{ .Params.textA }}</p>
          {{ end }}
        </div>
      </div>
    </div>
      <div class="row pb-16 pt-14">
        {{ $filterByAuthor := where site.RegularPages "Params.author" "==" .Title }}
        {{ range $filterByAuthor }}
          <div class="md:col-6 lg:col-4 mb-12">
            {{ partial "components/blog-card" . }}
          </div>
        {{ end }}
      </div>
    </div>
  </section>
{{ end }}
