{{ define "main" }}
  {{ partial "page-header" . }}
  <section class="section">
    <div class="container">
      <div class="row gx-5">
        <!-- events -->
        <div class="lg:col-12">
          <div class="row">
            {{ range .RegularPages.ByParam "weight" }}
              <div class="md:col-4 mb-14">
                {{ partial "components/event-card" . }}
                <a class="btn btn-outline-primary btn-sm" href="{{ .RelPermalink }}">{{ i18n "read_more" }}</a>
              </div>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </section>
{{ end }}
